<nav id="nav">
    {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
    <div class="exlink">
        외부링크▼
    </div>
    <div class="linking">
        <a href="https://comic.naver.com/webtoon/list.nhn?titleId=670145&weekday=" target="_blank">킬더킹 웹툰 바로가기</a>
        <a herf=a href="https://comic.naver.com/webtoon/list.nhn?titleId=670145&weekday=" target="_blank"><img src="https://shared-comic.pstatic.net/thumb/webtoon/670145/thumbnail/title_thumbnail_20160105121235_t125x101.jpg" title="킬더킹" alt="킬더킹" width="125" height="101" onerror="this.src='https://static-comic.pstatic.net/staticImages/COMICWEB/NAVER/img/common/non125_101.gif'"></a>
    </div>
    <br>
    <div class="linking">
        <a href="https://comic.naver.com/webtoon/list.nhn?titleId=495498" target="_blank">빵점동맹 웹툰 바로가기</a>
        <a href="https://comic.naver.com/webtoon/list.nhn?titleId=495498" target="_blank"><img src="https://shared-comic.pstatic.net/thumb/webtoon/495498/thumbnail/title_thumbnail_20120816152437_t125x101.jpg" title="빵점동맹" alt="빵점동맹" width="125" height="101" onerror="this.src='https://static-comic.pstatic.net/staticImages/COMICWEB/NAVER/img/common/non125_101.gif'"></a>
    </div>
</nav>